################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/O365.Mail/bin/Debug
/O365.Mail/obj
